.git
.gitignore
.gcloudignore
.history
.history/**
.DS_Store
**/.DS_Store

**/node_modules
**/dist
**/build
**/.vite
coverage
.playwright
.cache
.tmp
tmp
*.log

.env
.env.*

docs
README.md
backend/test
docker-compose.override.yml
/package-lock.json
